<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Identifiant</th>
        <th scope="col">Pseudo</th>
        <th scope="col">Adresse e-mail</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of users">
        <th scope="row">{{item.id}}</th>
        <td>{{item.userName}}</td>
        <td>{{item.email}}</td>
        <td><input type="button" class="btn-danger" (click)="delete(item.id)" value="supprimer compte"></td>
      </tr>
    </tbody>
  </table>
