<br>
<br>
<br>
<br>
<br>
<br>

<img src="{{videoGame.jacketUrl}}" class="center" width="200" height="270" alt="">
<h4>{{videoGame.name}}</h4>
<br>
<h5>Description :</h5>
<p>{{videoGame.description}}
<p>
<h5>Date de sortie :</h5>
<p>{{videoGame.releaseDate | date}}</p>

<hr>
<h4>Commentaires : </h4>
<br>
<div *ngFor="let item of comments">

    <h4>
        <a class="username">{{item.user.userName}}</a>
        <br>
        {{item.note}}/20
    </h4>
    <h5>
        <i class="fa fa-calendar"></i>
        {{item.commentDate | date}}
    </h5>
    
    <p class="description">{{item.commentText}}</p>
    <label>
        <input type="button" value="Supprimer" (click)="deleteComment(item.commentId)">
    </label>
    <a [routerLink]="['/detailscomment/' + item.commentId]">Signaler</a>
</div>

<hr>
<h4>Ajouter un commentaire</h4>
<br>
<form [formGroup]="form" (ngSubmit)="insertComment()">
    <label for="note">
        <input type="number" id="note" placeholder="note /20" formControlName="note">
    </label>
    <br>
    <label for="comment">
        <textarea cols="40" rows="5" id="comment" placeholder="votre commentaire" formControlName="comment"></textarea>
    </label>
    <br>
    <label>
        <input type="submit" value="Envoyer" [disabled]="form.invalid">
    </label>
</form>
<br>
<hr>
<br>

<h3>Questions/réponses</h3>
<br>
<div *ngFor="let item of questions">
    <p>{{item.user.userName}}</p>
    <p>{{item.questionDate | date}}</p>
    <p>{{item.questionText}}</p>

    <div *ngFor="let a of item.answers">
        <p>{{a.user.userName}}</p>
        <p>{{a.answerDate | date}}</p>
        <p>R : {{a.answerText}}</p>
    </div>
    <label>
        <input type="button" value="Supprimer" (click)="deleteQuestion(item.questionId)">
    </label>
    <form [formGroup]="formAnswer" (ngSubmit)="insertAnswer(item.questionId)">
        <label for="answer">
            <h5>Répondre</h5>
            <textarea cols="40" rows="2" id="answer" placeholder="votre réponse" formControlName="answer"></textarea>
        </label>
        <label>
            <input type="submit" value="Envoyer" [disabled]="formAnswer.invalid">
        </label>
    </form>
</div>

<hr>
<h4>Ajouter une question</h4>
<br>
<form [formGroup]="formQuestion" (ngSubmit)="insertQuestion()">
    <label for="question">
        <textarea cols="40" rows="2" id="question" placeholder="posez votre question" formControlName="question"></textarea>
    </label>
    <label>
        <input type="submit" value="Envoyer" [disabled]="formQuestion.invalid">
    </label>
</form>